<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <a href="/">Home</a>

  

  <form class="search" action="/search" method="get">
    <input  type="text" name="snippetsresults">
    <button>Search</button>
  </form>

  <br>

<div class="table">
  <table border="1">
    <tr>
      <th>
        Title
      </th>
      <th>
        Body
      </th>
      <th>
        Notes
      </th>
      <th>
        Language
      </th>
      <th>
        Tags
      </th>
      <th>
        Author
      </th>
      <th>
        Delete
      </th>
    </tr>
    </br>

    {{#snippets}}
      <tr>
        <td>{{title}}</td>
        <td>{{body}}</td>
        <td>{{notes}}</td>
        <td>{{language}}</td>
        <td>{{tags}}</td>
        <td>{{author}}</td>
        <td><a href="/delete/?id={{_id}}">Delete</a></td>
      </tr>
    {{/snippets}}
    </div>



</body>

</html>
