<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>

    <table class="snippet_table" border="1">
      <tr>
        <th>
          Edit
        </th>
        <th>
          Title
        </th>
        <th>
          Body
        </th>
        <th>
          Notes
        </th>
        <th>
          Language
        </th>
        <th>
          Tags
        </th>
        <th>
          Author
        </th>
        <th>
          Delete
        </th>
      </tr>
    </br>

      {{#snippets}}
      <tr>
        <td><a href="/snippets/add?id={{_id}}">{{title}}</a></td>
        <td>{{title}}</td>
        <td>{{body}}</td>
        <td>{{notes}}</td>
        <td>{{language}}</td>
        <td>{{tags}}</td>
        <td>{{author}}</td>
        <td><a href="/delete/?id={{_id}}">Delete</a></td>
      </tr>
      {{/snippets}}

    </table>
